/*------ Reseteo de paarametros------------ */
*{
   margin:0;
   box-sizing: border-box;
}

/*------ Configuración de fuente------------ */

body{
   font-family: 'Roboto', sans-serif;
   padding: 160px 0px 20px;
   grid-template-areas:
   "header header header"
   "seccion1 seccion1 seccion1"
   "seccion2 seccion2 seccion2"
   "seccion3 seccion3 seccion3"
   "seccion4 seccion4 seccion4"
   "seccion5 seccion5 seccion5"
   "footer footer footer";
 }
 

/*------ Declaración de Variables------------ */
:root {
   --color1: #D83A56;
   --color2: #FF616D;
   --color3: #FFEAC9;
   --color4: #66DE93;
}

/*------Estilos Header---------------------- */

.header{
   grid-area: header;
   display: flex;
   border-style: solid;
   border-color: var(--color2);
   background-color: var(--color2);
   width: 100%;
   position:fixed;
   top:0;
   left: 0;
 }

.logo{
    border-style: none;
    border-color: var(--color2);   
    height: 150px;
    width: 350px;
 }

 /*------Configuración del Menu------*/

.menu-container{
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
}

ul {
   display: flex;
   list-style:none;
   margin-right: 20px;
   padding:0;
 }

ul li {
   background-color: var(--color1);
   margin: 0px 2px;
   font-size: 16px;
   width: 150px;
   text-align: center;
   border-radius: 5px;
 }
    
li a {
   display:block;
   color:#fff;
   padding:10px;
   text-decoration: none;
   text-transform:uppercase;
   letter-spacing:1px;
 }

 ul ul{
    display:none;
    position: absolute;   
 }

 ul li:hover > ul{
   display:block;
   list-style:none;
   margin-right: 0px;
   padding:0; 
}

 ul ul li{
   background-color: var(--color1);
   margin: 2px 2px;
   font-size: 16px;
   height: 40px;
   width: 150px;
   text-align: center;
   border-radius: 5px;
 }

ul ul li a { 
   color:#fff;
   padding:10px;
   text-decoration: none;
   text-transform:uppercase;
   letter-spacing:1px;
   height: 40px;
}

li a:hover {
   background-color: lightgrey;
   transition: 0.5s;
   border-radius: 5px;
 }

/*------Fin Configuración del Menu------*/

/*------Fin Estilos Header------------- */


/* ------Secciones------ */

/* ------Seccion1 (Inicio)------ */

.seccion1{
   grid-area: seccion1;
   padding: 300px 5px;
   background-image: linear-gradient(var(--color3),var(--color2));
   width: 100%;
}


/* ------Fin Seccion1------ */

/* ------Seccion2 (Destinos)------ */

.seccion2{
   grid-area: seccion2;
   display:grid;
   grid-template-rows: 0.5fr 4fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
   margin: 10px 0px;
   padding: 10px 5px;
   background-image: linear-gradient(var(--color3),var(--color2));
}
.seccion2-titulo{
   grid-column: 1/4; 
   grid-row: 1/2;   
}
.seccion2-container{   
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
   grid-column: 1/4; 
   grid-row: 2/3;
}

.seccion2-1{  
   text-decoration:none;
   font-weight:400;
   font-size:15px;
   padding:0px;   
} 

/* ------Fin Seccion2------ */

/* ------Seccion3------ */
.seccion3{ 
   grid-area: seccion3;
   margin: 10px 0px;
   padding: 10px 5px;
   background-image: linear-gradient(var(--color3),var(--color2));
}

.seccion3-container2 {
   display:flex;
   justify-content: center;
}

/* ------Fin Seccion3------ */


/* ------Seccion4------ */

.seccion4{
   grid-area: seccion4;
   border-style: solid;
   border-color: var(--color1);
   margin: 10px 0px;
   padding: px 5px;
   background-color: var(--color3);
   
}
.sección4-imagen{
   border-style: solid;
   border-color: var(--color1);
   margin: 5px 10px;
   object-fit: cover;
   height: 200px;
   width: 300px;
}
.seccion4-titulo2{   
   text-decoration:none;
   font-weight:400;
   font-size:15px;
   padding:10px;
}
.seccion4-container{
   display: flex;
   justify-content: space-around;
   
}

/* ------Fin Seccion4------ */

/* ------Seccion5------ */

.seccion5{ 
   grid-area: seccion5;
   border-style: solid;
   border-color: var(--color1);
   margin: 10px 0px;
   padding: px 5px;
   background-color: var(--color3);
}

.form-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   
   max-width: 180px;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   margin: 10px auto;

}
.form{
   justify-content: center;
   margin: 10px;
}

/* -----------    Fin Seccion5   ----------- */


/* -----------    Estilo Titulos y Parrafos   ----------- */
 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    text-align: center;
    color:var(--color4); 
    transition:0.5s;
 }
 h1:hover {
   font-family: 'Roboto', sans-serif;
   font-size: 130px;
   text-align: center;
   color:var(--color4); 
}

 h2 {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   font-size: 50px;
   color:var(--color1);
   text-align: center;
 }

 h3{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   color: var(--color4);
   margin: 30px 10px 10px 10px;
   padding: 10px 5px;
   text-align: center;  
 }

 h4{
   font-family: 'Roboto', sans-serif;
   text-align: center;
   font-size: 25px;
   color: var(--color4);
   margin: 10px 0px;
   padding: 10px 5px;  
 }

 p{   
   font-size: 15px;
   color: rgba(12, 12, 12, 0.4);
   margin: 10px 0px;
   padding: 10px 5px;
   width: 400px;
   display: flex;
 }

 /* -----------    Fin Estilo Titulos y Parrafos  ----------- */

 

 /*-----------    Estilos para Imagenes    -----------*/
.imagenes{
   border-style: solid;
   border-color: var(--color2);
   margin: 20px;
   height: 200px;
   width: 300px;
   transition:0.5s;
}
.imagenes:hover{
   border-style: solid;
   border-color: rgb(11, 208, 243);
   margin: 10px;
   height: 210px;
   width: 310px;
}
/*-----------    Fin Estilos para Imagenes    -----------*/

/*-----------    Estilos Lugares    -----------*/

.city-container{
   border-style: solid;
   border-color: var(--color1);
   margin: 10px 0px;
   padding: px 5px;
   background-color: var(--color3);
}

.city-subcontainer{
   display: flex;
}

.city-parrafo{
   width: 40%;
   height: 182px;
   margin-top: 20px;
   border-style:solid;
   border-width: 1px;
   border-color: var(--color1);
}

/*------Footer------*/

.footer{
   grid-area: footer;
}

.iconos_redes{
   border-style: solid;
   border-width: 2px;
   border-color: var(--color3);
   height: 30px;
   width: 30px;
}

.redes{
   display: flex;
   justify-content:center;
}

.firma{
   display: flex;
   justify-content:center;
}
/*------Fin Footer------*/


/*---------   Estilo para Movil   ------*/

@media screen and (max-width: 480px) {
   body{
      background-color: rgb(197, 195, 195);
      font-family: 'Roboto', sans-serif;
      grid-template-areas:      
      "seccion2 seccion2 seccion2"
      "seccion3 seccion3 seccion3"
      "seccion4 seccion4 seccion4"
      "seccion5 seccion5 seccion5";
       }
   .header {
      display: none;
   }
   .seccion1{
      display: none;
   }
   .seccion2{
      grid-area: seccion2;
      display:grid;
      grid-template-rows: 0.5fr 4fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      margin: 10px 0px;
      padding: 10px 5px;
      width: 100%;
      height: 100%;
         
      }
   .seccion2-titulo{
      grid-column: 1/4; 
      grid-row: 1/2;   
      }
   .seccion2-container{   
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      grid-column: 1/4; 
      grid-row: 2/3;
      }
      
   .seccion2-1{  
      text-decoration:none;
      font-weight:400;
      font-size:15px;
      padding:0px;   
      } 

   .imagenes{
      border-style: solid;
      border-color: var(--color2);
      margin: 2px;
      height: 40px;
      width: 60px;
   }
    
   h2 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 25px;
      color:var(--color1);
      text-align: center;
      }

   h3{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: var(--color4);
      margin: 0px 0px 0px 0px;
      padding: 0px 0px;
      text-align: center;  
      }
   }
/*---------   Fin Estilo para Movil   ------*/
   
